.blockLP {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
}

@media (max-width: 991px) {
    .blockLP {
        margin-top: 10px;
    }
}
.imageLP {
    border-radius: 0px 0px 0px 0px;
    background-color: var(--neutral-white, #FFF);
    padding: 0px 0px;
    aspect-ratio: 1.16;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
.LPinfo {
    border-radius: 0px 0px 0px 0px;
    background-color: var(--neutral-white, #FFF);
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0 0px;
}
.LPname {
    color: var(--neutral-darker, #5D5F5F);
    text-align: center;
    letter-spacing: 0px;
    align-self: stretch;
    white-space: nowrap;
    font: 300 1em/150% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .LPname {
        white-space: initial;
    }
}
.LPprice {
    color: var(--accent-red, #DA3E31);
    text-align: center;
    letter-spacing: 0px;
    align-self: center;
    margin-top: 1vh;
    white-space: nowrap;
    font: 300 1em/150% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .LPprice {
        white-space: initial;
    }
}
.LPaddress {
    justify-content: center;
    color: #000;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 1vh;
    font: 300 1em/143% Roboto, sans-serif;
}
.LPadd {
    color: var(--secondary-darker, #E9672B);
    text-align: center;
    letter-spacing: 0px;
    text-decoration: underline;
    align-self: center;
    margin-top: 0px;
    white-space: nowrap;
    font: 300 1em/143% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .LPadd {
        white-space: initial;
    }
}